{#
/*
 * Copyright 2011 Anthony Bretaudeau <abretaud@irisa.fr>
 *
 * Licensed under the CeCILL License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.cecill.info/licences/Licence_CeCILL_V2-en.txt
 *
 */
#}

{% extends "GenouestSchedulerBundle:Scheduler:layout.html.twig" %}

{% block scheduler %}
<div class="jobGeneralInfo">
    <h3>Job {{ job.title }} successfully submitted.</h3>

    {% if job.hasValidEmail %}
        <p>An email will be sent to {{ job.email }} upon job completion.</p>
    {% endif %}
    
    <p>
        <img src="{{ asset('bundles/genouestscheduler/images/loader.gif') }}" alt="loading" width=220 height=19 style="vertical-align: middle;" />
    </p>

    <p class="jobStatus">
        Job status: <span class="status">{{ status }}</span> (<a href="{{ path('_job_kill', { 'uid': job.jobuid}) }}" onclick="return window.confirm('Are you sure you want to terminate this job?')">Stop it?</a>)
    </p>

    {% if job.backURL %}
        <p>
            <a href="{{ job.backURL }}">Click here to launch another job.</a>
        </p>
    {% endif %}

    <p class="refresh">Your navigator doesn't support Javascript. <a href="{{ path('_job_status', { 'uid': job.jobuid, '_format': 'html'}) }}">Refresh</a> manually this page to update the job status.</p>
</div>

<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(statusTracker('{{ path('_job_status', { 'uid': job.jobuid, '_format': 'js'}) }}'))
    //]]>
</script>

{% endblock %}
